pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    color: #a9b7c6;
    background: #282b2e
}

.hljs-bullet,
.hljs-literal,
.hljs-number,
.hljs-symbol {
    color: #6897bb
}

.hljs-deletion,
.hljs-keyword,
.hljs-selector-tag {
    color: #cc7832
}

.hljs-link,
.hljs-template-variable,
.hljs-variable {
    color: #91c187
}

.hljs-comment,
.hljs-quote {
    color: grey
}

.hljs-meta {
    color: #bbb529
}

.hljs-addition,
.hljs-attribute,
.hljs-string {
    color: #91c187
}

.hljs-section,
.hljs-title,
.hljs-type {
    color: #ffc66d
}

.hljs-name,
.hljs-selector-class,
.hljs-selector-id {
    color: #e8bf6a
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

.gspb_syntext_heighlighter {
    .gspb_code_viewer {
        position: relative;
        background: #282b2e;

        pre {
            white-space: pre-wrap;
            margin: 0;
            font-size: 1rem;
            line-height: 1.6rem;

            code {
                padding: 15px !important;
                border-radius: 0px;
            }
        }

        .code_input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;

            textarea {
                background-color: transparent;
                color: transparent;
                outline: 0;
                font-family: monospace;
                caret-color: white;
                font-size: 1rem;
                line-height: 1.6rem;
                padding: 15px;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}